# Here there is Only the Cleaning of the Model

In [1]:
# Importing the basic libraries we will require for the project

# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


# Code to ignore warnings from function usage
import warnings;
import numpy as np
warnings.filterwarnings('ignore')

from sklearn.impute import SimpleImputer

Load and View the Data Set

In [3]:
def Ordinal_encoding(element_i):
    mapping =  {'Extremely Poor': 0, 'Poor': 1, 'Needs Improvement': 2, 'Acceptable':3, 'Good':4, 'Excellent':5,
                'Very Inconvenient': 0, 'Inconvenient': 1, 'Needs Improvement': 2, 'Manageable':3, 'Convenient':4, 'Very Convenient':5,
                'Green Car':1, 'Ordinary':0}

    try:
        data = mapping[element_i]
        return data
    except:
        return np.NaN
    
def cleaning_Travel(csv_name):
    shin_exp = pd.read_csv(csv_name)
    almost_all_columns = ['Seat_Comfort', 'Seat_Class', 'Arrival_Time_Convenient', 'Catering',
       'Platform_Location', 'Onboard_Wifi_Service', 'Onboard_Entertainment',
       'Online_Support', 'Ease_of_Online_Booking', 'Onboard_Service',
       'Legroom', 'Baggage_Handling', 'CheckIn_Service', 'Cleanliness',
       'Online_Boarding']

    for column_i in almost_all_columns:
        shin_exp[column_i] = shin_exp[column_i].apply(Ordinal_encoding)

    #print(shin_exp.isna().sum())

    return shin_exp


def imputing_Travel(csv_name):
    encoded_df = cleaning_Travel(csv_name)
    reqd_col_for_impute = ['Seat_Comfort',  'Arrival_Time_Convenient', 'Catering','Platform_Location', 'Onboard_Wifi_Service', 'Onboard_Entertainment',
       'Online_Support', 'Ease_of_Online_Booking', 'Onboard_Service',
       'Legroom', 'Baggage_Handling', 'CheckIn_Service', 'Cleanliness',
       'Online_Boarding']
    
    imputer = SimpleImputer(strategy="most_frequent")
    encoded_df[reqd_col_for_impute] = imputer.fit_transform(encoded_df[reqd_col_for_impute])

    print(encoded_df.isna().sum())
    return encoded_df

In [6]:
csv_name = 'Surveydata_train.csv'

In [7]:
starting_df = pd.read_csv(csv_name)

encoded_df = cleaning_Travel(csv_name)

print(encoded_df.isna().sum() == starting_df.isna().sum()
)
imputed_df = imputing_Travel(csv_name)

ID                         True
Overall_Experience         True
Seat_Comfort               True
Seat_Class                 True
Arrival_Time_Convenient    True
Catering                   True
Platform_Location          True
Onboard_Wifi_Service       True
Onboard_Entertainment      True
Online_Support             True
Ease_of_Online_Booking     True
Onboard_Service            True
Legroom                    True
Baggage_Handling           True
CheckIn_Service            True
Cleanliness                True
Online_Boarding            True
dtype: bool
ID                         0
Overall_Experience         0
Seat_Comfort               0
Seat_Class                 0
Arrival_Time_Convenient    0
Catering                   0
Platform_Location          0
Onboard_Wifi_Service       0
Onboard_Entertainment      0
Online_Support             0
Ease_of_Online_Booking     0
Onboard_Service            0
Legroom                    0
Baggage_Handling           0
CheckIn_Service            0
Cleanliness                0
Online_Boarding            0
dtype: int64

In [9]:
imputed_df.head()

,ID,Overall_Experience,Seat_Comfort,Seat_Class,Arrival_Time_Convenient,Catering,Platform_Location,Onboard_Wifi_Service,Onboard_Entertainment,Online_Support,Ease_of_Online_Booking,Onboard_Service,Legroom,Baggage_Handling,CheckIn_Service,Cleanliness,Online_Boarding
0,98800001,0,2.0,1,5.0,5.0,5.0,4.0,2.0,3.0,2.0,2.0,3.0,2.0,4.0,2.0,1.0
1,98800002,0,1.0,0,5.0,1.0,2.0,4.0,1.0,4.0,4.0,5.0,2.0,1.0,2.0,4.0,4.0
2,98800003,1,2.0,1,2.0,2.0,2.0,2.0,4.0,5.0,5.0,5.0,5.0,5.0,4.0,5.0,5.0
3,98800004,0,3.0,0,2.0,3.0,2.0,3.0,2.0,3.0,3.0,3.0,3.0,3.0,4.0,3.0,3.0
4,98800005,1,3.0,0,3.0,3.0,3.0,2.0,4.0,5.0,4.0,4.0,4.0,4.0,4.0,4.0,4.0

In [10]:
csv_name

'Surveydata_train.csv'

In [11]:
imputed_df.to_csv('Surveydata_train_clean-imputed.csv')

In [12]:
csv_name2 = 'Surveydata_test.csv'

In [13]:
starting_df2 = pd.read_csv(csv_name2)

encoded_df2 = cleaning_Travel(csv_name2)

encoded_df2.isna().sum() == starting_df2.isna().sum()

imputed_df2 = imputing_Travel(csv_name2)

ID                         0
Seat_Comfort               0
Seat_Class                 0
Arrival_Time_Convenient    0
Catering                   0
Platform_Location          0
Onboard_Wifi_Service       0
Onboard_Entertainment      0
Online_Support             0
Ease_of_Online_Booking     0
Onboard_Service            0
Legroom                    0
Baggage_Handling           0
CheckIn_Service            0
Cleanliness                0
Online_Boarding            0
dtype: int64

In [14]:
imputed_df2.to_csv('Surveydata_test_clean-imputed.csv')