# Here there is Only the Cleaning of the Model

In [29]:
# Importing the basic libraries we will require for the project

# Libraries to help with reading and manipulating data
import pandas as pd
import numpy as np

# Libaries to help with data visualization
import matplotlib.pyplot as plt
import seaborn as sns
sns.set()


# Code to ignore warnings from function usage
import warnings;
import numpy as np
warnings.filterwarnings('ignore')

from sklearn.impute import SimpleImputer

Load and View the Data Set

In [37]:
def Ordinal_encoding(element_i):
    mapping =  {'Female': 0, 'Male': 1, 
                'Business Travel': 0, 'Personal Travel': 1, 
                'Disloyal Customer': 0, 'Loyal Customer': 1, 
                'Business':0, 'Eco':1}

    try:
        data = mapping[element_i]
        return data
    except:
        return np.NaN
    
def cleaning_Travel(csv_name):
    shin_exp = pd.read_csv(csv_name)
    almost_all_columns = ['Gender', 'Customer_Type', 'Type_Travel', 'Travel_Class']

    for column_i in almost_all_columns:
        shin_exp[column_i] = shin_exp[column_i].apply(Ordinal_encoding)

    #print(shin_exp.isna().sum())

    return shin_exp


def imputing_Travel(csv_name):
    encoded_df = cleaning_Travel(csv_name)
    reqd_col_for_impute = [ 'Gender', 'Customer_Type', 'Age', 'Type_Travel', 'Travel_Class',
       'Travel_Distance', 'Departure_Delay_in_Mins', 'Arrival_Delay_in_Mins']
    
    imputer = SimpleImputer(strategy="most_frequent")
    encoded_df[reqd_col_for_impute] = imputer.fit_transform(encoded_df[reqd_col_for_impute])

    print(encoded_df.isna().sum())
    return encoded_df

In [38]:
csv_name = 'Traveldata_train.csv'

In [39]:
starting_df = pd.read_csv(csv_name)

encoded_df = cleaning_Travel(csv_name)

encoded_df.isna().sum() == starting_df.isna().sum()

imputed_df = imputing_Travel(csv_name)

ID                         0
Gender                     0
Customer_Type              0
Age                        0
Type_Travel                0
Travel_Class               0
Travel_Distance            0
Departure_Delay_in_Mins    0
Arrival_Delay_in_Mins      0
dtype: int64

In [40]:
encoded_df.isna().sum()

ID                            0
Gender                       77
Customer_Type              8951
Age                          33
Type_Travel                9226
Travel_Class                  0
Travel_Distance               0
Departure_Delay_in_Mins      57
Arrival_Delay_in_Mins       357
dtype: int64

In [41]:
imputed_df.head()

,ID,Gender,Customer_Type,Age,Type_Travel,Travel_Class,Travel_Distance,Departure_Delay_in_Mins,Arrival_Delay_in_Mins
0,98800001,0.0,1.0,52.0,0.0,0.0,272.0,0.0,5.0
1,98800002,1.0,1.0,48.0,1.0,1.0,2200.0,9.0,0.0
2,98800003,0.0,1.0,43.0,0.0,0.0,1061.0,77.0,119.0
3,98800004,0.0,1.0,44.0,0.0,0.0,780.0,13.0,18.0
4,98800005,0.0,1.0,50.0,0.0,0.0,1981.0,0.0,0.0

In [42]:
csv_name

'Traveldata_train.csv'

In [43]:
imputed_df.to_csv('Traveldata_train_clean-imputed.csv')

In [44]:
csv_name2 = 'Traveldata_test.csv'

In [45]:
starting_df2 = pd.read_csv(csv_name2)

encoded_df2 = cleaning_Travel(csv_name2)

encoded_df2.isna().sum() == starting_df2.isna().sum()

imputed_df2 = imputing_Travel(csv_name2)

ID                         0
Gender                     0
Customer_Type              0
Age                        0
Type_Travel                0
Travel_Class               0
Travel_Distance            0
Departure_Delay_in_Mins    0
Arrival_Delay_in_Mins      0
dtype: int64

In [46]:
imputed_df2.to_csv('Traveldata_test_clean-imputed.csv')